
<!DOCTYPE html>
<html lang="en">
{{ template "theme/partials/head.html" . }}
  <body>
    {{ template "theme/partials/navbar.html" . }}

    <div class="container container-home">
      <div class="row">
        <div class="col-lg-12">
          <h1>Writings</h1>
          <p class="text-muted">
            <small>These are the latest entries, check the <a href="/writing/">Archive</a> for a complete list</small>
          </p>
          <ul class="posts list-unstyled">
          {{ range first 5 .Data.Pages.ByDate.Reverse }}
            <li>
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
              <time class="pull-right post-list">{{ .Date.Format "Mon, Jan 2, 2006" }}</h4></time>
            </li>
          {{ end }}
          </ul>

          <h1>Open Source Projects</h1>
          <ul class="list-unstyled">
            <li>
              <a href="https://github.com/evonove/django-oauth-toolkit">Django OAuth Toolkit</a> OAuth goodies for the Djangonauts.
            </li>
            <li>
              <a href="https://github.com/evonove/django-stored-messages">Django Stored Messages</a> django.contrib.messages on steroids.
            </li>
            <li>
              <a href="https://github.com/masci/django-appengine-toolkit">Django Appengine Toolkit</a> Helper for deploying Django on Google App Engine
            </li>
            <li>
              <a href="https://github.com/masci/masci.github.io">/dev/</a> This site
            </li>
            <li>
              <a href="https://bitbucket.org/evonove/webfactor">Webfactor</a> Point and click deploy control tool built with Flask
            </li>
            <li>
              <a href="https://bitbucket.org/masci/milliways">Milliways</a> The game at the end of the universe
            </li>
          </ul>

          <h1>Follow me</h1>
          <ul class="list-inline">
            <li><a href="https://github.com/masci"><i class="fa fa-github fa-2x"></i></a></li>
            <li><a href="https://twitter.com/maxpippi"><i class="fa fa-twitter-square fa-2x"></i></a></li>
            <li><a href="http://www.linkedin.com/in/masci"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
            <li><a href="http://www.flickr.com/photos/masci"><i class="fa fa-flickr fa-2x"></i></a></li>
          </ul>

        </div>

      </div>
      {{ template "theme/partials/footer.html" . }}
    </div>
    {{ template "theme/partials/js.html" . }}
  </body>
</html>

