{{ $baseurl := .Site.BaseUrl }}

<!DOCTYPE html>
<html lang="en">
    {{ template "theme/partials/head.html" . }}
    <body>
        {{ template "theme/partials/navbar.html" . }}
        <div class="container">
            <h1>{{ .Title }}</h1>
            <h5 id="wc"> {{ .FuzzyWordCount }} words by {{ .Site.Params.AuthorName }}</h5>
            <div class="row">
                <div class="post col-lg-8">
                    {{ .Content }}
                </div>
                <div class="col-lg-4">
                    <div class="list-group voffset4">
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">POSTED</h4>
                            <p class="list-group-item-text">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
                        </div>
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">TAGS</h4>
                            {{ range .Params.tags }}
                            <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
            {{ template "theme/partials/footer.html" . }}
        </div>
    </body>
</html>
